{% extends "leaderSignUp/base.html" %}

{% block content %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1> {{ event.title }} </h1>
                            <span class="subheading"> {{ event.start }} </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>   

        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>Select a wooodlands group to volunteer as a trailguide or assistant trailguide.
                        During the event revist this link to sumbit attendance.
                    </p>
                    <!-- Post preview-->
                    {% for event in sub_event %}
                    <div class="post-preview">
                        <a href="{% url 'subEvents' event.id %}">
                        <h3> {{ event.group }} </h3>
                        <p><b>Trailguide Leader:</b> {{ event.primary_leader}}</p>
                        <p><b>Assistant Trailguide Leader:</b> {{ event.alternate_leader}}</p>
                    </div>
                     {% endfor %}
                </div>
            </div>
        </div>      
                    
{% endblock %}  